*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;

}

.header1 img{
height: 20px;
}
.profile-pic{
width: 40px;
height: 40px;
border-radius: 50px;
}
.header{
width: 100%;
height: 100px;
padding: 15px 20PX;
display: flex;
position: sticky;
border-bottom: #efefef;
z-index: 999;
justify-content: space-between;
background-color: rgba(0, 0, 0, 0.07);

}
.header1{
display: flex;
align-items: center;
justify-content: space-evenly;
}
.input{
display: flex;
background-color: #efefef;
padding: 10px;
margin-left: 10px;
border-radius: 999px;
}
.input input{
border: none;
background-color: transparent;
outline-style: 0;
}
.header2 {
display: flex;
justify-content: center;
}
.header2 .icons{
color: grey;
font-size: large;
}
.header2:hover .icons{
color: rgb(0, 174, 255);
}
.icons{
display: flex;
align-items: center;
padding: 0 30px;
cursor: pointer;
}
.header3{
display: flex;
align-items: center;
}
.header3 .icons{
color: grey;
margin: 10px;
cursor: pointer;
}
/*sidebar*/
.sidebar{
padding: 10px;
display: flex;
flex-direction: column;
align-items: flex-start;
cursor: pointer;
flex: 1;
gap: 15px;
}
.sidebarrow{
display: flex;
justify-content: space-between;
}
.sidebarrow:hover{
background-color: rgb(163, 160, 160);
border-radius: 10px;
}
.sidebarrow h4{
margin-left: 10px;
font-size:large;
color: black;
}
.sidebar .sidebarrow{
font-size: x-large;
color:rgb(20, 78, 225)
}
.story{
width: 120px;
height: 200px;
background-repeat: no-repeat;
background-size: cover;
border-radius: 10px;
margin-right: 10px;
box-shadow: rgba(0, 0, 0, 0.75);
cursor: pointer;
transition: 100ms ease-in;
}
.story:hover{
transform: scale(1.07);
}
.profile-pic .storyuser {
margin :10px;
}
.story h4{
position: absolute;
bottom: 20px;
left: 20px;
color:rgba(8, 0, 255, 0.322);
}
.storyreel{
margin: 10px;
display: flex;
padding: 10px ,0px;
justify-content: center;
} 
.mainbody{
width: 100%;
display: flex;
}
body{
background-color: #f1f1f1;
}
.feed{
flex: 1;
display: flex;
padding: 30px 100px;
justify-content: center;
align-items: center;
flex-direction: column;

}
.sidebar{
padding: 25px 10px;
flex:0.33;
}
.usermessage{
height: 150px;
display: flex;
padding-top:30px;
flex-direction: column;
background-color: white;
border-radius: 15px;
width: 100%;
box-shadow: rgba(0, 0, 0, 0.75);
}
.usermessage1{
display: flex;
align-items: center;
border-bottom: 1px solid #efefef;
padding: 10px;
}
.usermessage__input{
border-color: rgb(0, 0, 0, 0.007);
border: none;
flex: 1;
border-radius: 999px;
padding: 10px;
outline-width: 0;
background-color:#efeffe;
}
.usermessage1 form{
display: flex;
flex: 1;
}
.usermessage2{
display: flex;
justify-content: space-evenly;
}
.usermessage__option{
padding: 10px;
display: flex;
align-items: center;
margin: 10px;
color: grey;  
}
.usermessage__option:hover{
background-color: #eff2f5;
cursor: pointer;
border-radius: 20px;
}
.posts{
width: 100%;
margin-top: 10px;
border-radius: 10px;
background-color: white;
box-shadow: 0px 5px 7px -7px rgba(0, 0, 0, 0.75);
}
.post1{
padding: 10px;
display: flex;
align-items: center;
flex: 1;
gap: 5px;
}
.post1 h3{
font-size: large;
}
.post2{
margin-top: 10px 10px;
padding: 15px 25px;
}
.post2 p{
font-family: Georgia, 'Times New Roman', Times, serif;
font-style: italic;
font-weight: 200;
margin: 10px 5px;
}
.post2 img{
width: 100%;
border-radius: 10px;
}
.post__options{
padding: 10px;
border-top:1px solid grey;
display: flex;
justify-content: space-around;
cursor: pointer;
color: gray;
font-size: large;
margin: 15px;
}
.post__option{
display: flex;
flex: 1;
gap: 5px;
justify-content: center;
align-items: center;
}
.post__option:hover{
color: blue;
background-color: #eff2f5;
border-radius: 10px;
}
.right--sidebar{
flex: 0.33;
flex-direction: column;
position: absolute;
right: 0;
bottom: 0;
top: 100px;
width: 400px;

}
.sidebar2 h2{
font-style: italic;

}
p:hover{
background-color: #f2effeba;
}

.names p{
margin: 5px;
font-size: larger;
font-weight:bolder ;
color:rgb(8, 8, 8);

}
.names img{
width: 50px;
height: 40px;
border-radius: 5px;
}
.names{
display: flex;
margin: 10px;
padding: 10px;
}
.names p:hover{
background-color: rgba(28, 28, 28, 0.04);
border-radius: 10px;
}